.hr_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome_label_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome_label{
    font-size: 25px;
    color: #915c83;
}

hr {
    background-color: purple;
    width: 80%;
    right: 0;
    left: 0;
    margin: auto;
    border : 1px solid purple;
}

#nav_container_div{
    width: 100vw;
    position: fixed;
    z-index: 10;
}

#main_section{
    background-color: #cec8ef;
    padding-top: 100px;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

#customer_form_section, #item_form_section, #order_form_section{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    padding-right: 75px;

    background-color: #e0b0ff;
}

#order_form_section .form_div{
    margin-top: 0;
}

#main_section{
    padding-bottom: 25px;
}

#customer_table_id, #item_table_id, #cart_table_id{
    margin-top: 100px;
    height: 375px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Enable vertical scrollbar for extra content */
}

#cart_table_id{
    margin-top: 30px;
    height: 300px;
}

#customer_table_id thead, #item_table_id thead, #cart_table_id thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #dda0dd;
    table-layout: fixed; /* Prevent table header from resizing */
}


#customerTable, #itemTable, #cartTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#customerTable th, #customerTable td, #itemTable th, #itemTable td, #cartTable th, #cartTable td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}

table{
    border: 1px solid black;
    background-color: #e0b0ff ;
}

th{
    background-color: #dda0dd ;
}

th{
    width: 140px;
}

#order_form_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart_form_first_div{
    display: flex;
}

#cart_form{
    background-color: #cec8ef;
    padding: 20px;
    border-radius: 20px;
}


#cart_form #cart_item_code, #cart_description, #cart_unit_price, #cart_unit_price, #cart_qty_on_hand, #cart_qty{
    width: 170px;
    margin: 5px 7px 15px 5px;
}

#add_cart_btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.manage_label{
    color: purple;
    font-size: 25px;
    font-weight: bold;
}


.form_div {
    width: 40vw;
    height: 80vh; /* Set a fixed height for the form container */
    margin: auto;
    /*border: 1px solid grey;*/
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Make the form container scrollable */
}


.myForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
    border: 1px solid grey;
    background-color: darkgray;
    border-radius: 5px;
}

input[type="text"], [type="date"], #customer_id_combo_box, #cart_item_code{
    width: 350px;
    height: 25px;
    border-radius: 7px;
    border: 0;
}


#add_customer,#add_item, #confirm_order{
    width: 100px;
    height: 30px;
    background-color: mediumpurple;
    border-radius: 10px;
    border: 1px solid rebeccapurple;
}

#update_customer,#update_item, #add_to_cart{
    width: 100px;
    height: 30px;
    background-color: #90ee90;
    border-radius: 10px;
    border: 1px solid #228b22 ;
}

#delete_customer, #delete_item{
    width: 100px;
    height: 30px;
    background-color: #fa8072 ;
    border-radius: 10px;
    border: 1px solid #ff6347;
}

#add_customer:hover , #add_item:hover, #confirm_order:hover{
    background-color: #6a5acd ;
}

#update_customer:hover ,#update_item:hover, #add_to_cart:hover{
    background-color: #228b22 ;
}

#delete_customer:hover ,#delete_item:hover{
    background-color: #ff6347;
}

#confirm_order{
    width: fit-content;
}

#cart_head{
    padding-top: 20px;
    font-size: 30px;
}

#cart_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_p {
    color: #915c83;
    opacity: 90%;
}


@media screen and (max-width: 720px) {
    .form_div {
        width: 90vw;
        /*height: 70vh;*/
    }


    input[type="text"]{
        width: 200px;
    }


    #cart_form_first_div{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 1200px) {
    .form_div {
        width: 60vw;
        /*height: 70vh;*/
    }

    input[type="text"]{
        width: 320px;
    }
    #order_form_section{
        padding-right: 25px;
    }

    #order_id, #date, #customer_id_combo_box, #order_customer_name{
        width: 250px;
    }
}

@media screen and (max-width: 1000px) {
    #customer_form_section, #item_form_section, #order_form_section{
        display: flex;
        flex-direction: column;
        padding-right: 50px;
        padding-left: 50px;

    }

    #order_form_section{
        padding-right: 25px;
    }
}

